<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main</title>
    <style>
      * { font-family: sans-serif; }
      th, td { padding: 15px; }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Ship Day</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.ship_day }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
